<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xej.mapper.ProductMapper">

    <select id="getProductList" resultType="Product">
        SELECT *
        FROM `sys_product`
        WHERE user_name = #{username}
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="getProductListCount" resultType="int">
        SELECT COUNT(*)
        FROM `sys_product`
        WHERE user_name = #{username}
    </select>

    <delete id="delProduct">
        DELETE
        FROM sys_product
        WHERE `id` = #{id}
    </delete>

    <select id="getProduct" resultType="Product">
        SELECT *
        FROM sys_product
        WHERE `id` = #{id}
    </select>

</mapper>